<div class="content mgtop">
    <div class="row">
        <div class="text-center">
            <div class="mb-3">
            <label class="form-label">Tipo de canal</label>
             <select [(ngModel)]="tipocanal" class="form-control">
                 <option *ngFor="let item of canal" value="{{ item.name }}">
                     {{ item.name | titlecase }}
                 </option>
             </select>
            </div>
            <div class="mb-3">
                <label class="form-label">Mensaje</label>
                <textarea [(ngModel)]="mensaje" class="form-control"  rows="3"></textarea>
            </div>
            <div class="mb-3">
                <button class="btn btn-primary" (click)="enviar()">Enviar</button>
            </div>
        </div>
    </div>

   
    <div class="row" *ngIf="listaMensaje && listaMensaje.length > 0">
        <ul class="nav flex-column">
            <li class="nav-item" *ngFor="let item of listaMensaje">
              <a class="nav-link" aria-current="page">
                  {{ item.mensaje }}
                  <span>
                    {{ item.respuesta }}
                  </span>
              </a>
            </li>
          </ul>
    </div>
</div>